/* Portrait smartphones styles */
@media only screen and (max-width: 480px) {
    /* Universal styles */
    html {
        font-size: 14px;
    }

    /* Navigation styles */
    #navbar ul {
        justify-content: space-evenly;
    }

    #navbar ul li a {
        padding: 10px;
        margin-right: 0;
    }

    /* Welcome screen styles */
    #welcome-section {
        margin: 25vh 10vw -25vh 10vw;
        font-size: 1.5rem;
    }

    /* About me section styles */
    .aboutBox {
        padding: 10vw;
    }

    #myPicture {
        float:none;
        display: block;
        width: 50vw;
        margin: 0 auto;
    }

    .aboutBox p {
        text-indent: 10vw;
    }

    /* Portfolio section styles */
    .portfolioBox {
        padding: 10vw;
    }

    .container .project-tile a img {
        width: 80vw;
        height: 25vh;
    }

    .container #last-item {
        display: none;
    }

    /* Contact section styles */
    .contactBox {
        padding: 10vw;
    }

    .contactBox #project-link, .contactBox .logo {
        padding: 7.5px;
        margin: 1vh 1vw;
    }

    .contactBox #project-link:hover, .contactBox .logo:hover {
        font-size: 1.1rem;
    }

    /* Footer styles */
    footer {
        padding: 1.5vh 0;
    }
}


/* Low resolution tablets styles, landscape smartphones styles */
@media only screen and (min-width: 481px) and (max-width: 767px) {
    /* Universal styles */
    html {
        font-size: 15px;
    }

    /* Navigation styles */
    #navbar ul li a {
        padding: 12.5px;
    }

    /* Welcome screen styles */
    #welcome-section {
        margin: 25vh 7.5vw -25vh 7.5vw;
        font-size: 1.75rem;
    }

    /* About me section styles */
    .aboutBox {
        padding: 7.5vw;
    }

    #myPicture {
        float:none;
        display: block;
        width: 50vw;
        margin: 0 auto;
    }

    .aboutBox p {
        text-indent: 7.5vw;
    }

    /* Portfolio section styles */
    .portfolioBox {
        padding: 7.5vw;
    }

    .container .project-tile a img {
        width: 40vw;
        height: 25vh;
    }

    /* Contact section styles */
    .contactBox {
        padding: 7.5vw;
    }

    .contactBox #project-link, .contactBox .logo {
        margin: 1vh 1vw;
    }

    /* Footer styles */
    footer {
        padding: 1.25vh 0;
    }
}