@import url('https://fonts.googleapis.com/css?family=Bitter');

/* Universal styles */
html {
    font-size: 16px;
}

body {
    padding: 0;
    margin: 0;
    background-image: url("https://image.ibb.co/dkSHfA/background.jpg");
    background-attachment: fixed;
    background-size: 100vw 100vh;
    font-family: monospace;
}

.title {
    text-align: center;
    margin-bottom: 5vh;
    font-variant: small-caps;
}

/* Navigation styles */
#navbar {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #000044;
    width: 100vw;
}

#navbar ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#navbar ul li {
    float: right;
}

#navbar ul li:hover {
    background-color: #9999ff;
}

#navbar ul li a {
    display: block;
    padding: 18px;
    margin: 0 1vw;
    color: white;
    font-size: 1.2rem;
    text-decoration: none;
}

#navbar ul li a:hover {
    color: #0040ff;
}

/* Welcome screen styles */
#welcome-section {
    min-height: 100vh;
    text-align: center;
    color: darkblue;
    font-size: 2rem;
    margin: 33vh 5vw -33vh 5vw;
    font-family: 'Bitter', serif;
    font-variant: small-caps;
}

/* About me section styles */
.aboutBox {
    min-height: 100vh;
    padding: 3vw;
    font-size: 1.4rem;
    color: darkblue;
    background-color: #e6e6e6;
}

#myPicture {
    max-width: 50vw;
    float: right;
    border-radius: 20px;
    margin-left: 3vw;
}

.aboutBox p {
    text-indent: 5vw;
    text-align: justify;
}

/* Portfolio section styles */
.portfoliBox {
    min-height: 100vh;
    padding: 3vw;
    font-size: 1.4rem;
    color: darkblue;
    background-color: #d9d9d9;
}

.project-tile {
    display: inline-block;
}

.project-tile a img {
    width: 41.4vw;
    margin: 2vw;
    border: 1px solid darkblue;
    border-radius: 10px;
    height: 250px;
}

/* Contact section styles */
.contactBox {
    min-height: 100vh;
    padding: 3vw;
    font-size: 1.4rem;
    color: darkblue;
    background-color: #cccccc;
}

.contactBox p {
    text-indent: 5vw;
    text-align: justify;
}

.logo {
    border-radius: 50%;
    width: 75px;
    margin: 1vw;
}

/* Footer styles */
footer {
    background-color: #000044;
    color: white;
    text-align: center;
    padding: 1vw;
    font-size: smaller;
}

#profile-link {
    text-decoration: none;
    color: lightblue;
}

#profile-link:hover {
    color: darkcyan;
}