@import url('https://fonts.googleapis.com/css?family=Bitter');

/* Universal styles */
html {
    font-size: 18px;
    line-height: 1.5;
}

body {
    padding: 0;
    margin: 0;
    background-image: url("https://image.ibb.co/dkSHfA/background.jpg");
    background-attachment: fixed;
    background-size: 100vw 100vh;
    font-family: monospace;
}

.title {
    text-align: center;
    margin-bottom: 5vh;
    font-size: 2rem;
}

/* Navigation styles */
#navbar {
    position: fixed;
    top: 0;
    background-image: linear-gradient(#222, #000, #000);
    width: 100vw;
}

#navbar ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
}

#navbar ul li a {
    display: block;
    padding: 15px;
    margin-right: 2vw;
    color: white;
    text-decoration: none;
}

#navbar ul li a.active {
    color: orange;
}

/* Welcome screen styles */
#welcome-section {
    min-height: 100vh;
    text-align: center;
    color: #000;
    font-size: 2rem;
    margin: 33vh 5vw -33vh 5vw;
    font-family: 'Bitter', serif;
    font-variant: small-caps;
    cursor: default;
}

/* About me section styles */
.aboutBox {
    min-height: 100vh;
    padding: 5vw;
    color: white;
    background-image: linear-gradient(#111, #111, #111, #111, #222);
}

#myPicture {
    width: 33vw;
    float: right;
    border-radius: 10px;
    margin-left: 5vw;
}

.aboutBox p {
    text-indent: 5vw;
    text-align: justify;
}

/* Portfolio section styles */
.portfoliBox {
    min-height: 100vh;
    padding: 5vw;
    color: white;
    background-image: linear-gradient(#222, #222, #222, #222, #333);
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.container .project-tile a img {
    border-radius: 10px 10px 0 0;
    width: 40vw;
    height: 33vh;
}

.container .project-tile p {
    text-align: center;
    margin: -1.2vh 0 5vh 0;
    background-color: white;
    color: black;
    padding: 1vh 0;
}

.container #last-item {
    visibility: hidden;
}

/* Contact section styles */
.contactBox {
    text-align: center;
    min-height: 100vh;
    padding: 5vw;
    font-size: 1.5rem;
    color: white;
    background-color: #333;
}

.contactBox p {
    margin-top: 15vh;
}

.contactBox .links-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.contactBox #project-link, .contactBox .logo {
    text-decoration: none;
    color: orange;
    font-size: 1rem;
    border: 1px solid orange;
    padding: 10px;
}

.contactBox #project-link:hover, .contactBox .logo:hover {
    background-color: white;
    font-size: 1.25rem;
}

/* Footer styles */
footer {
    background-image: linear-gradient(#000, #000, #111);
    color: white;
    text-align: center;
    padding: 1vh 0;
    font-size: 0.75rem;
}
